In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data_columns = concrete_data.columns

In [7]:
target = concrete_data['Strength']
target.head(10)

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
5    47.03
6    43.70
7    36.45
8    45.85
9    39.29
Name: Strength, dtype: float64

In [8]:
predictors = concrete_data.iloc[:, :-1]
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
#num of inputs = num of predictors colums
n_cols = predictors.shape[1]
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [10]:
model = regression_model()

In [11]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    #Train and test the model at the same time
    res = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 104.98696899414062
Cycle #2: mean_squared_error 100.00302124023438
Cycle #3: mean_squared_error 70.76435089111328
Cycle #4: mean_squared_error 70.32056427001953
Cycle #5: mean_squared_error 73.03768920898438
Cycle #6: mean_squared_error 60.24423599243164
Cycle #7: mean_squared_error 69.35781860351562
Cycle #8: mean_squared_error 65.87303924560547
Cycle #9: mean_squared_error 57.99159240722656
Cycle #10: mean_squared_error 52.68194580078125
Cycle #11: mean_squared_error 59.203834533691406
Cycle #12: mean_squared_error 51.10353469848633
Cycle #13: mean_squared_error 45.095703125
Cycle #14: mean_squared_error 47.245826721191406
Cycle #15: mean_squared_error 70.37458038330078
Cycle #16: mean_squared_error 45.09598922729492
Cycle #17: mean_squared_error 48.856544494628906
Cycle #18: mean_squared_error 51.02001953125
Cycle #19: mean_squared_error 43.17695236206055
Cycle #20: mean_squared_error 46.21201705932617
Cycle #21: mean_squared_error 46.33705520629883
Cycle #22: mean_squared_error 49.61913299560547
Cycle #23: mean_squared_error 46.962589263916016
Cycle #24: mean_squared_error 40.722164154052734
Cycle #25: mean_squared_error 47.071353912353516
Cycle #26: mean_squared_error 51.61723327636719
Cycle #27: mean_squared_error 41.596858978271484
Cycle #28: mean_squared_error 42.384002685546875
Cycle #29: mean_squared_error 43.683876037597656
Cycle #30: mean_squared_error 48.17308807373047
Cycle #31: mean_squared_error 46.92015838623047
Cycle #32: mean_squared_error 43.7652473449707
Cycle #33: mean_squared_error 54.20191192626953
Cycle #34: mean_squared_error 52.27497482299805
Cycle #35: mean_squared_error 44.70118713378906
Cycle #36: mean_squared_error 43.77534484863281
Cycle #37: mean_squared_error 59.58373260498047
Cycle #38: mean_squared_error 43.45680236816406
Cycle #39: mean_squared_error 55.08695983886719
Cycle #40: mean_squared_error 45.30369567871094
Cycle #41: mean_squared_error 46.97230529785156
Cycle #42: mean_squared_error 42.527488708496094
Cycle #43: mean_squared_error 47.442012786865234
Cycle #44: mean_squared_error 43.546749114990234
Cycle #45: mean_squared_error 41.89734649658203
Cycle #46: mean_squared_error 39.090938568115234
Cycle #47: mean_squared_error 44.442649841308594
Cycle #48: mean_squared_error 47.628108978271484
Cycle #49: mean_squared_error 43.09976577758789
Cycle #50: mean_squared_error 46.36624526977539

In [12]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 52.45794418334961
The standard deviation of the mean squared errors: 13.436500823691738